<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Crie sua conta!</h1>
                                </div>
                                <form #formCadastroConta="ngForm" (ngSubmit)="salvarConta()" class="user">
                                    <div class="form-group">
                                        <input type="email" [(ngModel)]="email" ngModel [email]="true" name="email" required email class="form-control form-control-user" id="email"
                                            placeholder="E-mail">
                                    </div>                                                                   
                                    <button [disabled]="!formCadastroConta.valid" class="btn btn-primary btn-user btn-block">Confirmar</button>
                                    <hr>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>