<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-10 col-md-12">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Dados Cadastrais</h1>
                </div>
                <div class="form-group">
                  <input type="radio" name="tipoConta" checked (change)="tipoConta = 'fisica'"> Física
                  <input type="radio" name="tipoConta" (change)="tipoConta = 'juridica'"> Jurídica
                </div>
                <!--Pessoa Física-->
                <form #formDadosCadastrais="ngForm" (ngSubmit)="SalvarDadosCadastrais()" class="user">
                  <div *ngIf="tipoConta == 'fisica'" id="tipoFormulario">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="nome"
                            placeholder="Nome Completo">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="cpf" placeholder="CPF">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="celular"
                            placeholder="Celular">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="fixo" placeholder="Telefone Fixo">
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Pessoa Juridica-->
                  <div *ngIf="tipoConta == 'juridica'" id="tipoFormulario">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="nome"
                            placeholder="Nome Completo">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="cnpj" placeholder="CNPJ">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="razaoSocial"
                            placeholder="Razão Social">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="nomeFantasia" placeholder="Nome Fantasia">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" name="celular" class="form-control form-control-user" id="celular"
                              placeholder="Celular">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" name="fixo" class="form-control form-control-user" id="fixo" placeholder="Telefone Fixo">
                          </div>
                        </div>
                    </div>
                  </div>
                  <hr>
                  <!--Endereço-->
                  <div class="">
                    <h2 class="h5 text-gray-900 mb-4">Endereço</h2>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="cep" (change)="obterEnderecoPorCep(cep)" [(ngModel)]="cep" class="form-control form-control-user" id="cep"
                          placeholder="CEP">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="logradouro" [(ngModel)]="logradouro"
                          class="form-control form-control-user" value="{{endereco.logradouro}}" id="logradouro" placeholder="Logradouro">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <input type="text" name="numero" [(ngModel)]="numero" class="form-control form-control-user"
                          id="numero" placeholder="Número">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="bairro" value="{{endereco.bairro}}" [(ngModel)]="bairro" class="form-control form-control-user"
                          id="bairro" placeholder="Bairro">
                      </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="cidade" value="{{endereco.localidade}}" [(ngModel)]="cidade" class="form-control form-control-user"
                            id="cidade" placeholder="Cidade">
                        </div>
                      </div>

                      <div class="col-md-2">
                          <div class="form-group">
                            <input type="text" name="uf" value="{{endereco.uf}}" [(ngModel)]="uf" class="form-control form-control-user"
                              id="uf" placeholder="UF">
                          </div>
                        </div>
                  </div>
                  <button [disabled]="!formDadosCadastrais.valid" type="button"
                    class="btn btn-primary btn-user btn-block">
                    Continuar
                  </button>
                  <hr>
                </form>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>